<div>
  <form action="/courses/create" method="POST">
    <h2>create a new Course:</h2>
    <label for="inputCourseTitle">Title</label>
    <input type="text" name="title" id="inputCourseTitle" placeholder="Title" autofocus>
    <label for="inputDescription">Description</label>
    <input type="text" name="description" id="inputDescription" placeholder="Description" required>
    <label for="inputCost">Cost</label>
    <input type="number" name="cost" id="inputCost" placeholder="Cost" required>
    <button type="submit">Create</button>
  </form>
</div>