<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Confetti cuisine</title>
</head>
<body>
  <div class="flashes">
    <% if(flashMessages) { %>
      <% if(flashMessages.success) { %>
        <div class="flash success"><%= flashMessages.success %></div>
      <% } else if (flashMessages.error) { %>
        <div class="flash error"><%= flashMessages.error %></div>
      <% } %>
    <% } %>
  </div>
  <div class="login">
    <% if (loggedIn) { %>
      <p>Logged in as 
        <a href="<% `/users/${currentUser._id}`%>"><%= currentUser.fullName %></a>
        <a href="/users/logout">Log out</a>
      </p>
    <% } else { %>
      <a href="/users/login">Log In</a>
    <% } %>
  </div>
  <%- body %>
</body>
</html>